* {
    margin: 0;
    padding: 0;
    /*设置margin padding时不改变元素大小，而是向内挤压*/
    box-sizing: border-box;
}

#header {
    border: 1px solid #999999;
    border-top: none;
    height: 33px;
    color: #555555;
}

#header .header-left{
    float: left;
    font-size: 12px;
    line-height: 33px;
    margin-left: 10px;
}

#header .header-left span{
    margin-left: 5px;
}

#header .header-left .header-left-geli{
    margin-left: 10px;
}

#header .header-left a{
    margin-right: 10px;
    color: #555555;
}

#header .header-right{
    float: right;
    line-height: 33px;
    font-weight: bold;
    font-size: 13px;
}

#header .header-right a{
    color: #555555;  
    margin-left: 15px;  
}

#header .header-right .more-pro{
    /*设置为行内块级，就可以为元素设置宽高了*/
    display: inline-block;
    width: 85px;
    background-color: #398bfb;
    text-align: center;
    text-decoration: none;
    color: white;
}

/**********************以上是头部样式***********************/

#content-center {
    margin: 80px auto 0px;
}

#content-center .content-center-logo{
    text-align: center;
}

#content-center .content-center-logo img{
    width: 270px;
    height: 129px;
}

#content-center .content-search {
    margin: 15px auto 0px;
    height: 40px;
    text-align: center;
}

#content-center .content-search .input-content {
    width: 536px;
    height: 100%;
    /* 获得焦点时，就不会有自带的阴影了 */
    outline: none;
    padding-left: 10px;
    font-size: 16px;
}

#content-center .content-search .input-content:focus {
    border: 1px solid #38f;
}

#content-center .content-search .submit-content {
    width: 96px;
    height: 100%;
    background-color: #398bfb;
    border: none;
    color: white;
    font-size: 13px;
    cursor: pointer;
    vertical-align: top;
    margin-left: -8px;
}

/**********************以上是搜索样式***********************/


#list {
    width: 980px;
    height: 530px;
    border: 1px solid #38f;
    margin: 80px auto 100px;
}

#list .list-header {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #38f;
}

#list .list-header .list-header-left {
    float: left;
    line-height: 40px;
}

#list .list-header .list-header-left a{
    text-decoration: none;
    float: left;
    font-size: 14px;
    padding: 0 20px;
    text-align: center;
}

#list .list-header .list-header-left a:hover {
    background-color: lightgray;
}

#list .list-header .list-header-right {
    float: right;
    line-height: 40px;
}

#list .list-header .list-header-right img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    vertical-align: middle;
}

/**********************以上是我的关注，推荐，导航 样式***********************/

#list .list-content {
    margin: 20px;
}

#list .list-content .list-content-left{
    float: left;
}

.list-content-left-header a {
    text-decoration: none;
}

.list-content-left-header h4 {
    font-weight: bolder;
    color: #555555;
    font-size: 20px;
}

.list-content-left-header p {
    margin: 10px 0;
    font-size: 14px;
    color: lightgray;
}

hr {
    border: 1px solid rgb(240, 240, 240);
}

#list .list-content .list-content-right{
    float: left;
    width: 330px;
    height: 100%;
}

.list-content-left-cell1 {
    margin: 10px 0;
    width: 100%;
}

.list-content-left-cell1 a {
    text-decoration: none;
}

.list-content-left-cell1 a h4{
    font-weight: bolder;
    color: #555555;
    font-size: 20px;
    line-height: 50px;
    vertical-align: middle;
}

.list-content-left-cell1 p{
    margin: 10px 0;
    font-size: 14px;
    color: lightgray;
}

.list-content-left-cell1 img {
    width: 181px;
    height: 118px;
}

.list-content-left-cell2 {
    margin-top: 20px;
}

.list-content-left-cell2 img {
    width: 181px;
    height: 118px;
}

.cell2-left {
    float: left;
}

.cell2-right {
    float: left;
    margin: 20px;
}

.cell2-right h3 {
    width: 360px;
}

.cell2-right p {
    margin-top: 10px;
    font-size: 14px;
    color: lightgray;
}

/**********************以上是左侧新闻样式***********************/

.list-content-right {
    margin-left: 20px;
}

.list-content-right .header{
    height: 40px;
}

.list-content-right a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.list-content-right .header .header-left {
    float: left;
}

.list-content-right .header .header-right {
    float: right;
}

.list-content-right .body li{
    float: left;
    width: 130px;
    list-style: none;
    margin: 10px 15px;
    color: rgb(51, 51, 51);
}

.list-content-right .body li a:hover{
    text-decoration: underline;
    color: blue;
}
